html {
    height: 100%;
}

body {
    height: inherit;
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 800px;
    background-color: #fdafe8;
    border-color: transparent;
    padding-top: 1px;
}

body::after {
    content: '';
    opacity: 0.3;
    background-color: #fff;
    inset: 0;
    position: absolute;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    position: absolute;
    inset: 0;
}

.page__heading {
    color: #000;
    text-align: center;
    
    font-size: 116px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 4.06px;
    text-transform: uppercase;
  
    padding-top: 60px;
    max-width: 740px;

    z-index: 3;
}

.page__heading::after {
    content: '*';
}

.page__heading:hover {
    color: #4c4c4c;
    cursor: default;
}


.page__heading:hover::before {
    content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
    white-space: pre;
    

    color: #000;
    font-size: 35px;
    font-weight: 400;

    position: absolute;

    min-width: 745px;
    border: 2px solid black;
    padding: 36px 44px;
    border-radius: 20px;
    background-color: #fff;
    text-transform: none;
    letter-spacing: 0;
    text-align: left;
    box-shadow: 0 14px 0 #000;
    line-height: 35px;

    top: 182px;
    right: 22px;
    z-index: 1;
} 